@font-face {
  font-family: 'MainFont';
  src: url('../assets/fonts/headFont.woff2');
}

* {
  margin: 0;
}
.allservers {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e1f22;
}
.servers {
  color: white;
  padding: 15px;
  border-radius: 200px;
  width: 30px;
  height: auto;
  background-color: #313338;
  margin: 10px;
}
.sections {
  display: flex;
}
.secondColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2b2d31;
  height: 100vh;
  color: #949ba4;
  font-family: MainFont;
}

.textInput {
  background-color: #1e1f22;
  padding: 10px;
  margin: 10px;
  outline: none;
  border: none;
  color: rgb(216, 216, 216);
}
.textInput::placeholder {
  color: #949ba4;
}
.friendsDiv,
.smallHead {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
.smallHead {
  justify-content: space-between;
}
.plus {
  margin-right: 15px;
}
.friends {
  padding-left: 10px;
}

.account {
  display: flex;
  padding: 10px;
  background-color: #232428;
}

.testaddeduser {
  padding: 10px 10px 10px 0px;
  margin: 5px 0;
}
.positionSecond {
  margin-left: 10px;
}
.topImages {
  width: 30px;
  height: 30px;
}
.MainFriendsDiv {
  max-height: 75vh;
  /* border: 1px solid red; */
  overflow-y: auto;
}
.MainFriendsDiv::-webkit-scrollbar {
  display: none;
}
