* {
  margin: 0;
}
.allservers {
  background-color: #1e1f22;
  display: flex;
  flex-direction: column;
}
.servers {
  color: white;
  padding: 15px;
  border-radius: 200px;
  width: 30px; /* Adjust the width as desired */
  height: auto; /* Maintain aspect ratio */
  background-color: #313338;
}
