@font-face {
  font-family: 'headMessage';
  src: url('../assets/fonts/headMessage.woff2');
}
@font-face {
  font-family: 'headerFont';
  src: url('../assets/fonts/headFont.woff2');
}
@font-face {
  font-family: 'formLabels';
  src: url('../assets/fonts/labelInputs.woff2');
}
@font-face {
  font-family: 'formButton';
  src: url('../assets/fonts/labelInputs.woff2');
}
@font-face {
  font-family: 'belowFormButton';
  src: url('../assets/fonts/belowFormButton.woff2');
}
* {
  margin: 0;
  color: #c7cacd;
}

.background {
  background-image: url('../assets/img/SignInBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logInFormDiv {
  background-color: #313338;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 400px;
}

.logInHeader {
  color: #f2f3f5;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  font-family: 'headerFont';
}

.headMessage {
  color: #9ea1a8;
  text-align: center;
  font-family: 'headMessage';
}

.usernameLogInLabel,
.passwordLogInLabel {
  color: #9ea1a8;
  padding-top: 15px;
  padding-bottom: 5px;
  font-family: 'formLabels';
  font-size: 11px;
}

.usernameInput,
.LogInpasswordInput,
.passwordInput {
  background-color: #1e1f22;
  border: none;
  padding: 15px;
}
.confirmPasswordInput {
  background-color: #1e1f22;
  border: none;
  padding: 15px;
}
.usernameInput,
.LogInpasswordInput,
.passwordInput:focus {
  border: none;
  outline: none;
}

.logInButton {
  background-color: #5865f2;
  color: #dfe1fd;
  padding: 20px;
  border: none;
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  font-family: 'formButton';
  cursor: pointer;
  font-size: 16px;
}

.switchToRegisterInfo {
  color: #8b929a;
  padding-top: 10px;
  font-size: 14px;
  font-family: 'belowFormButton';
}

.switchToRegister {
  color: #00a8fb;
  text-decoration: none;
  font-family: 'belowFormButton';
}

.outContent {
  display: flex;
  flex-direction: column;
}


.outerModal {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.innerModal {
  background-color: #313338;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  margin-top: 120px;
}

.content {
  color: #f2f3f5;
  font-family: 'headerFont';
}
